/* <--- COMMONS ---> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* <--- BODY ---> */



.row{
    margin: 40px 0;
}

.box:nth-child(2), .box-text:nth-child(2){
    margin: 0px 15px;
}

.box{
    width: calc(100% / 3 - (30px));
    float: left;
    position: relative;
}
.box-text{
    width: calc(100% / 3 - (30px));
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.front{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.back{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: none;
}

.box:hover .front{
    display: none;
}

.box:hover .back{
    display: inline-block;
}

/* *** parte del testo sotto le immagini *** */

.brand{
    font-size: 11px;
}

.current-price{
    color: red;
}

.original-price{
    text-decoration: line-through;
    color: black;
}

.article-description{
    text-transform: uppercase;
}

/* <--- DEBUG ---> */

/* .debug .box{
    height: 500px;
    background-color: purple;
} */

/* .debug .box-text{
    height: 60px;
    background-color: yellowgreen;
} */